<h1 align=center><font size = 5>Market strategy of a delivery company in the cities of New York and Toronto</font></h1>

# Final Report

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
1. <a href="#item1">Business problem</a>
2. <a href="#item1">Data</a>
3. <a href="#item1">Methodology</a>
4. <a href="#item1">Results</a>
5. <a href="#item1">Discussion</a>
6. <a href="#item1">Conclusion</a> 
</font>
</div>

## 1. Business problem

A delivery company wants to put into market for the next years, new services and products in the cities of New York and Toronto.
The company needs to plan and prior where to begin, in New York or Toronto. The strategy in the first stage is to study both cities.
So the company has decided to analyze and determine some parameters of this cities, in order to take a decision.
This market study must analyze neighbourhoods, total number, geolocation, density, and so on.

## 2. Data

## 2.1. New York

Neighborhood in New York City has a total of 5 boroughs and 306 neighborhoods. In order to segment the neighborhoods and explore them, its needed a dataset that contains the 5 boroughs and the neighborhoods that exist in each borough as well as the the latitude and longitude coordinates of each neighborhood. 

We get the dataset from this web link in Geojson format: https://geo.nyu.edu/catalog/nyu_2451_34572

The file name is: nyu-2451-34572-geojson.json

## 2.2. Toronto

Some analysis is required for Toronto City.

Dataset source is Wikipedia (https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M)

# 3. Methodology

## 3.1. Project Objective

In this project, with the Foursquare API explores neighborhoods similarity between New York City and Toronto. Using k-means clustering algorithm to group each neighbourhood. Finally, using the Folium library to visualize the neighborhoods in New York City and Toronto and their emerging clusters, and also comparing parameters as total number of neighbourhoods, density and so on.

## 3.2. Getting Data

# 4. Results

# 5. Discussion

# 6. Conclusion

In [12]:
neighborhoods_data[0]

{'type': 'Feature',
 'id': 'nyu_2451_34572.1',
 'geometry': {'type': 'Point',
  'coordinates': [-73.84720052054902, 40.89470517661]},
 'geometry_name': 'geom',
 'properties': {'name': 'Wakefield',
  'stacked': 1,
  'annoline1': 'Wakefield',
  'annoline2': None,
  'annoline3': None,
  'annoangle': 0.0,
  'borough': 'Bronx',
  'bbox': [-73.84720052054902,
   40.89470517661,
   -73.84720052054902,
   40.89470517661]}}

#### Tranform the data into a *pandas* dataframe

The next task is essentially transforming this data of nested Python dictionaries into a *pandas* dataframe. So let's start by creating an empty dataframe.

In [13]:
# define the dataframe columns
column_names = ['Borough', 'Neighborhood', 'Latitude', 'Longitude'] 

# instantiate the dataframe
neighborhoods = pd.DataFrame(columns=column_names)

Take a look at the empty dataframe to confirm that the columns are as intended.

In [14]:
neighborhoods

Empty DataFrame
Columns: [Borough, Neighborhood, Latitude, Longitude]
Index: []

Then let's loop through the data and fill the dataframe one row at a time.

In [15]:
for data in neighborhoods_data:
    borough = neighborhood_name = data['properties']['borough'] 
    neighborhood_name = data['properties']['name']
        
    neighborhood_latlon = data['geometry']['coordinates']
    neighborhood_lat = neighborhood_latlon[1]
    neighborhood_lon = neighborhood_latlon[0]
    
    neighborhoods = neighborhoods.append({'Borough': borough,
                                          'Neighborhood': neighborhood_name,
                                          'Latitude': neighborhood_lat,
                                          'Longitude': neighborhood_lon}, ignore_index=True)

Quickly examine the resulting dataframe.

In [24]:
neighborhoods.head()

  Borough Neighborhood   Latitude  Longitude
0   Bronx    Wakefield  40.894705 -73.847201
1   Bronx   Co-op City  40.874294 -73.829939
2   Bronx  Eastchester  40.887556 -73.827806
3   Bronx    Fieldston  40.895437 -73.905643
4   Bronx    Riverdale  40.890834 -73.912585

And make sure that the dataset has all 5 boroughs and 306 neighborhoods.